@model VehiculoModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
      Editar Vehiculo
    </div>
    <div class="card-body">
        

        <form asp-action="Editar" asp-controller="MantenedorVehiculo" method="post">

            <input asp-for="IdVehiculo" type="hidden" class="form-control">

            <div class="mb-3">
                <label  class="form-label">Placa</label>
                <input asp-for="Placa" type="text" class="form-control" >
                <span asp-validation-for="Placa"class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Marca</label>
                <input asp-for="Marca" type="text" class="form-control" >
                    <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Modelo</label>
                <input asp-for="Modelo" type="text" class="form-control" >
                    <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Tipo de Vehiculo</label>
                <input asp-for="TipoVehiculo" type="text" class="form-control" >
                    <span asp-validation-for="TipoVehiculo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Cilindraje</label>
                <input asp-for="Cilindraje" type="text" class="form-control" >
                    <span asp-validation-for="Cilindraje" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Ciudad de Regstro</label>
                <input asp-for="CiudadRegistro" type="text" class="form-control" >
                    <span asp-validation-for="CiudadRegistro" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar"asp-controller="MantenedorVehiculo"class="btn btn-warning">Volver a la lista</a>
        </form>


    </div>
</div>